<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">

            div.cls_002 {
                font-family: "Calibri", serif;
                font-size: 11.1px;
                color: rgba(0, 0, 0);
                text-decoration: none;
                align-content: center;
                text-align: start;
            }

            div.cls_003 {
                font-family: "Calibri", serif;
                font-size: 11.1px;
                color: rgb(0, 0, 0);
                text-decoration: none;
                text-align: center;
            }
        </style>
    </head>

    <body>

        <!-- page 1 -->
        <div style="display: flex; align-items: center; margin-left: 10px; margin-right: 10px; width:550px; height:841px; overflow:hidden">

            <div style="margin-top: 34.48px;" class="cls_003">
                <p>
                    <strong>CONTRATO DE PRESTAÇÃO DE SERVIÇOS AUTÔNOMO</strong>
                </p>
                <p style="margin-top: 5px;">
                    N. <%= contract_id %>/<%= contract_year %>
                </p>
            </div>

            <div style="margin-top: 20px;" class="cls_002">
                <p>
                    <b>CONTRATANTE: ANTUNES E WEGLIS NETWORK LTDA - ME</b>, pessoa jurídica de direito privado regularmente 
                    inscrita no CNPJ/MF sob n. 11.709.620/0001-10 e Inscrição Estadual n. 117.295.646.110, com sede na Rua 
                    Pereira Passo, n. 308, Bairro São Joaquim, CEP 16060-320, na cidade de Araçatuba, Estado de São Paulo, 
                    por seu representante Rodrigo Ferreira Rodrigues Antunes, portador de RG n. 33.343.565-5 (SSP/SP) e 
                    CPF/MF n. 353.408.488-84.
                </p>
            </div>

            <div style="margin-top: 20px;" class="cls_002">
                <p>
                    CONTRATADO: <%= employee_name %>, brasileiro, <%= office_name %>, portador de RG n. <%= rg %> e inscrito
                    no CPF/MF nº <%= document %>, residente na <%= address %>.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    <b>1. OBJETO DO CONTRATO</b>
                </p>
                <p> 
                    1.1 É objeto do presente contrato a prestação do serviço de assistente de programador, consistente na programação 
                    e análise de sistemas já desenvolvidos e utilizados pela CONTRATANTE, bem como o desenvolvimento, projeto e implantação 
                    de outros sistemas e/ou aplicativos a serem especificamente definidos pelas partes ao longo da execução do presente contrato.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    2. OBRIGAÇÕES DO CONTRATANTE
                </p>
                <p> 
                    2.1 O CONTRATANTE deverá fornecer ao CONTRATADO todas as informações necessárias à realização do serviço, devendo especificar 
                    os detalhes necessários à sua perfeita consecução, bem como a forma de como ele deve ser entregue.
                </p>
                <p>
                    2.2 O CONTRATANTE deverá efetuar o pagamento na forma e condições estabelecidas na cláusula 4.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    3. OBRIGAÇÕES DO CONTRATADO
                </p>
                <p>
                    3.1 O CONTRATADO deverá realizar os serviços objeto do presente contrato, utilizando para tanto do seu melhor conhecimento e sua melhor 
                    técnica, obedecendo os prazos previamente estipulados pelas partes.
                </p>
                <p>
                    3.2 O CONTRATADO deverá detalhe da função.
                </p>
                <p>
                    3.3 Referida documentação deverá ficar em posse da CONTRATANTE, mesmo que rescindido o contrato entre as partes.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    4. DA REMUNERAÇÃO
                </p>
                <p>
                    4.1 Fica estabelecido que os honorários para a prestação dos serviços objeto do presente instrumento será no
                    montante de R$ Salário (valor por extenso) ao mês, sendo o pagamento efetuado até o dia 10 do mês subsequente ao vencido, 
                    através de dinheiro ou cheque, ou outra forma de pagamento em que ocorra a prévia concordância de ambas as partes.
                </p>
                <p>
                    4.2 O CONTRATANTE deverá exercer suas atividades no período entre segunda-feira e sexta-feira, tendo liberdade para organizar 
                    sua jornada de trabalho, não havendo exigência também quanto à quantidade de horas trabalhadas por dia.
                </p>
                <p>
                    4.3 O pagamento será efetuado até o 5o (quinto) dia útil do mês subsequente ao vencido, através de dinheiro ou cheque, ou outra 
                    forma de pagamento em que ocorra a prévia concordância de ambas as partes.
                </p>
                <p>
                    4.4 Sempre que houver falta de pagamento dos honorários dentro dos prazos pactuados, sejam integrais ou parcelados, fica acordada 
                    a aplicação de multa, a partir da data em que deveriam ter sido pagos, de 2% (dois por cento) para os pagamentos em atraso, sendo 
                    ainda os valores atualizados pela variação verificada no período através do IGPM e cobrados juros de mora de 1% ao mês;
                </p>
            </div>
        </div>

        <!-- page 2 -->

        <div style="display: flex; align-items: center; margin-left: 10px; margin-right: 10px; width:550px; height:841px; overflow:hidden">
            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    5. DA VIGÊNCIA
                </p>
                <p>
                    5.1 O contrato possui prazo indeterminado, passando a ter vigência a partir da assinatura pelas partes.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    6. DA RESCISÃO
                </p>
                <p>
                    6.1 O presente contrato poderá ser rescindido por qualquer das partes e a qualquer tempo, ficando, porém, estabelecida 
                    a necessidade de uma notificação prévia de pelo menos 15 (quinze) dias, ou a indenização do referido período.
                </p>
                <p>
                    6.2 A rescisão do contrato ocorrerá imediatamente, independentemente de notificação ou aviso, se qualquer das partes 
                    descumprir quaisquer das cláusulas, cabendo à parte que der causa à rescisão o pagamento de indenização à outra parte, n
                    o valor equivalente a 01 (um) mês de contrato, que deverá ser pago até o 5o (quinto) dia do mês subsequente ao que 
                    ocorreu a rescisão.
                </p>
                <p>
                    6.3 A partir da data da rescisão, que poderá ser por distrato, resilição ou notificação do presente contrato, o CONTRATADO 
                    ficará totalmente desobrigado da prestação dos serviços até então desenvolvidos.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    7. CONDIÇÕES GERAIS
                </p>
                <p>
                    7.1 Fica compactuado desde já a total inexistência de vínculo trabalhista entre as partes contratantes, excluindo as 
                    obrigações previdenciárias e os encargos sociais, não havendo entre CONTRATADO e CONTRATANTE qualquer tipo de relação 
                    de subordinação, mas meras obrigações contratuais entre eles.
                </p>
                <p>
                    7.2 Salvo com a expressa autorização do CONTRATANTE, não pode o CONTRATADO transferir ou subcontratar os serviços 
                    previstos neste instrumento, sob o risco de ocorrer a rescisão imediata deste instrumento.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    8. DO FORO
                </p>
                <p>
                    8.1 Fica eleito o foro do Município de Araçatuba, Estado São Paulo, para dirimir quaisquer dúvidas oriundas do presente 
                    instrumento, com renúncia de qualquer outro por mais privilegiado que seja.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    E assim, por estarem de pleno acordo, as partes assinam o presente contrato de prestação de serviços, juntamente com as testemunhas abaixo.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <p>
                    Araçatuba, <%= date %>.
                </p>
            </div>

            <div style="margin-top: 30px;" class="cls_002">
                <div style="position: absolute;">
                    <div style="position:absolute; top:0px" class="cls_003">
                        <p>__________________________________________</p>
                        <p>Antunes e Weglis Network Ltda ME</p>
                    </div>

                    <div style="position:absolute; left:297.41px; top:0px" class="cls_003">
                        <p>_________________________________________</p>
                        <p><%= employee_name %></p>
                    </div>

                </div>

                <div style="position: absolute;">
                    <div style="position:absolute; top:70px" class="cls_003">
                        <p>__________________________________________</p>
                        <p><%= witness_1_name %></p>
                        <p>CPF n. <%= witness_1_document %></p>

                    </div>

                    <div style="position:absolute; left:297.41px; top:70px" class="cls_003">
                        <p>_________________________________________</p>
                        <p><%= witness_2_name %></p>
                        <p>CPF n. <%= witness_2_document %></p>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </body>

</html>